%div{:class => "form_header"}
  %a{:href => "#", :onclick => "$('#client_form').hideElement();", :class => "right"} Close
  %h3{:class => "form_heading"} Create a new client

%form{:id => "client_create_form"}
  %p
    %label{:for => "name"} Name
    %br
    %input{:type => "text", :id => "name", :name => "client[name]", :class => "title"}  
  %p
    %label{:for => "s3_bucket_name"} S3 Bucket Name
    %br
    %input{:type => "text", :id => "s3_bucket_name", :name => "client[s3_bucket_name]", :class => "title"}
  %p
    %label{:for => "notification_url"} Notification URL
    %br
    %input{:type => "text", :id => "notification_url", :name => "client[notification_url]", :class => "title"}
  %p{:class => "submit"}
    %input{:type => "submit", :value => "Create", :id => "client_create_submit"}